custom.el
auto-save-list/
elpa/
export/
!/core/tools/export/
ac-comphist.dat
eproject.lst
.smex-items
\#*
.places
.directory
.cache
/eww-bookmarks
eshell/history
.emacs.desktop
.emacs.desktop.lock
eshell/alias
eshell/lastdir
url/*
my-org/
org-files/
semanticdb/
edts/
.recentf
.recentf~
projectile.cache
projectile-bookmarks.eld
tramp
elnode/
var/
crown/
*.stackdump
bookmarks
/.my-keybindings.el.swp
.DS_Store
tmp/
/history
.python-environments/
server/
/network-security.data
*.elc
*.pyc
/*.zip
*.db
python-*-docs-html
/.cask/
/session.*
/srecode-map.el
/recentf
.mc-lists.el
nov-places
workspace
eclipse.jdt.ls
.trello
*~

# lsp-mode related
.lsp-python
mspyls/

# lsp-bridge related
.venv

# package specific
straight/

# external module compile outputs
parinfer-rust/
eln-cache/
tree-sitter/
