name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - "snapshot"
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - name: Display Emacs version
        run: emacs --version

      - name: Run tests
        run: |
          for file in .github/test-*.el; do
            echo "Running tests in $file"
            emacs -nw --batch \
              -L modules \
              -l "$file" \
              -f ert-run-tests-batch-and-exit
          done
