name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - 'snapshot'
      fail-fast: false

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Emacs
      uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - name: Display Emacs version
      run: emacs --version

    - name: Test fate/draw-file-tree function
      run: |
        emacs -nw --batch \
          --eval '(progn
                     (add-to-list (quote load-path) "modules")
                     (load-file ".github/test-draw-file-tree.el"))'
